<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand fw-bold" href="/">YPT News</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link category-link" data-category="technology" href="#">Technology</a></li>
        <li class="nav-item"><a class="nav-link category-link" data-category="sports" href="#">Sports</a></li>
        <li class="nav-item"><a class="nav-link category-link" data-category="business" href="#">Business</a></li>
        <li class="nav-item"><a class="nav-link category-link" data-category="politics" href="#">Politics</a></li>
        <li class="nav-item"><a class="nav-link" id="saved-articles" href="../../saved_articles/saved.html">Saved Articles</a></li>
      </ul>
      <form id="search-form" class="d-flex" role="search">
        <input id="search-input" class="form-control me-2" type="search" placeholder="Search news..." aria-label="Search">
        <button class="btn btn-outline-light" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
